.profile-details {
    display: flex;
    gap: 1.5rem;
    background-color: white;
    border-radius: 0 0 10px 10px;
    margin-top: -20px;
    width: 100%;
    padding: 85px 30px 30px;
    position: relative;

    .profile-image {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        border: 3px solid white;
        position: absolute;
        top: -80px;
    }

    .profile-info {
        flex: 1;

        mat-card-content {
            padding: 20px;
        }

        h2 {
            margin: 0;
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
}